.newsletter{
    height: fit-content;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    padding: 80px 0;
    background: linear-gradient(180deg, #fde1ff 0% , #e1ffea22 60%);
    gap: 20px;
}

.newsletter h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}

.newsletter p{
    color: #454545;
    font-size: 20px;
}

.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 600px;
    height: 60px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 18px;
}

.newsletter button{
    width: 210px;
    height: 60px;
    border-radius: 80px;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
}


/* ----------------- For responsive ----------------- */
@media (max-width:1280px) {
    .newsletter{
        padding:  80px;
        margin-bottom: 80px;
        gap: 20px;
    }

    .newsletter h1{
        font-size: 36px;
    }

    .newsletter p{
        font-size: 16px;
    }

    .newsletter div{
        width: 600px;
        height: 60px;
    }

    .newsletter div input{
        width: 400px;
    }

    .newsletter div button{
        width: 160px;
        height: 60px;
    }
}


@media (max-width:1024px) {
    .newsletter{
        padding-top: 60px !important;
        margin-bottom: 40px;
    }

    .newsletter h1{
        font-size: 30px;
    }

    .newsletter p{
        font-size: 13px;
    }

    .newsletter div{
        width: 500px;
        height: 50px;
    }

    .newsletter div input{
        width: 300px;
        font-size: 14px;
    }

    .newsletter div button{
        width: 120px;
        height: 50px;
        font-size: 14px;
    }
}


@media (max-width:800px) {
    .newsletter{
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .newsletter h1{
        font-size: 21px;
    }

    .newsletter p{
        font-size: 12px;
    }

    .newsletter div{
        width: 400px;
        height: 40px;
    }

    .newsletter div input{
        width: 200px;
        font-size: 13px;
    }

    .newsletter div button{
        width: 100px;
        height: 40px;
        font-size: 13px;
    }
}


@media (max-width:500px) {
    .newsletter{
        margin-bottom: 20px;
        padding-top: 15px;
    }

    .newsletter h1{
        font-size: 16px;
    }

    .newsletter p{
        font-size: 13px;
        max-width: 200px;
        text-align: center;
    }

    .newsletter div{
        width: 300px;
        height: 40px;
    }

    .newsletter div input{
        width: 200px;
        font-size: 13px;
    }
}